{% extends 'layouts/admin/base.html' %}

{% block head_title %}
    {{block.super}} | Staff Email Change
{% endblock %}

{% block content %}
<section>
<div class="section-body contain-lg">
    <div class="card">
        <div class="card-body">
            Current Email : {{request.user.email}}
            <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                 {% csrf_token %}
                {{form.as_p}}
                <button class="btn ink-reaction btn-raised btn-primary" type="submit">Change Email</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    $('#staff').addClass('active')
</script>
{% endblock %}
